/*
 * 2011 pbrisbin
 *
 */

/* begin modified reset based on html5boilerplate {{{ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:  0;
  padding: 0;
  border:  0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body { font: 13px/1.231 sans-serif; }

textarea { overflow: auto; }

input[type="radio"]    { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom;      }

label, button,
input[type="button"], 
input[type="submit"], 
input[type="reset"],
input[type="image"] { cursor: pointer; }

button, input, select, textarea { margin: 0; padding: 1px 2px;}

input:valid, textarea:valid {  }
input:invalid, textarea:invalid {
  -webkit-border-radius: 1px; 
     -moz-border-radius: 1px; 
          border-radius: 1px; 
  -webkit-box-shadow: 0px 0px 5px red; 
     -moz-box-shadow: 0px 0px 5px red; 
          box-shadow: 0px 0px 5px red;
}

html { overflow-y: scroll; }

/* end reset }}} */

/* main styling {{{ */
body, 
select, 
input,     /* site-wide font for all elements */
textarea { font-family: helvetica,"Georgia Sans",verdana,sans-serif; }

em     { font-style:  italic; }
strong { font-weight: bold;   }
small  { font-size:   90%;    }

p,  h2, h3, 
h4, h5, h6 { padding: 1ex 1ex; }

h1 { padding: 1ex 0px; }

pre, table { margin-left:  1em; }

ul, ol, dl {
  margin-left:  3em;
  padding-left: 3em;
}

h1, h2, h3, 
h4, h5, h6 { 
  font-weight: normal;
  text-shadow: #cecbc1 1px 1px 5px;
}

h1             { font-size: 2em;    }
h2             { font-size: 1.5em;  }
h3, h4, h5, h6 { font-size: 1.25em; }

body {
  text-align:  justify;
  width:       90%;
  max-width:   680px;
  margin:      0px auto;
  padding: 50px 0px;
}

footer {
  font-size: 90%;
  text-align: center;
}

a:link, a:hover, a:visited { text-decoration: none; }

blockquote {
  margin:  5px 40px;
}

td, th { padding: 2px 5px; }

th {
  text-align:     right;
  vertical-align: top;
}

::-moz-selection {
  color:       white;
  background:  black;
  text-shadow: none;
}

::selection {
  color:       white;
  background:  black;
  text-shadow: none;
}
/* }}} */

/* main layout {{{ */
#breadcrumbs, #right-nav {
  font-size: 85%;
  padding:   0px;
  margin:    0px;
  position:  absolute;
  top:       5px;
}

#breadcrumbs { left:  10px; }
#right-nav   { right: 10px; }

#message {
  font-style:     italic;
  text-transform: lowercase;
  text-align:     center;
}

ul.tabnav { margin: 0px; padding: 0px; }

.tabnav a {
  color: #222;
  text-decoration: none;
}

.tabnav a:hover {
  color: #009;
  text-decoration: none;
}

.tabnav li {
  display:       inline;
  list-style:    none;
  padding-right: 5px;
}

.tabnav li a {
  font-weight:     bold;
  text-transform:  uppercase;
  text-decoration: none;

  padding: 5px 20px;
  padding-bottom: 0px;

  border: 1px solid #cecbc1;
  border-bottom: none;
}

/* highlight selected tabs */
.tabnav li.ui-tabs-selected a { background-color: #dedbd1; }

.tabnav li a:hover, .tabnav li a:active {
  color: #222;
  background: #cecbc1;
  border: 1px solid #cecbc1;
  border-bottom: none;
  text-decoration: none;
}

.tabdiv   { border:  1px solid #cecbc1; }
.tabdiv p { padding: 7px 10px;          }

.accordion h3 {
  cursor:  pointer;
  border:  none;
  outline: none;
}

.ui-tabs-hide {
  display: none;
}
/* }}} */

/* autocomplete {{{ */
.ui-autocomplete {
  width:      60px;
  background: white;
  border:     solid 1px black;
  border-top: none;
  padding: 0px;
  margin:  0px;
}

.ui-autocomplete li {
  list-style: none;
  padding:    2px 5px;
}

.ui-autocomplete li:hover {
  color:            blue;
  background-color: #dedbd1;
  cursor:           pointer;
}
/* }}} */

/* review {{{ */
.search-form form.search p {
  text-align: right;
  padding: 0px;
  margin:  0px;
  margin-bottom: 2px;
}

.searchresult, 
.view-review,
.view-landlord {
  margin: 15px;
}

.searchresult p,
.view-review p,
.view-landlord p {
  margin:  0px;
  padding: 0px;
}

.landlord-grade, .landlord-gpa {
  color: #333;
  font-size: 175%;
  border-bottom: 1px solid #dedbd1;
  text-shadow: #cecbc1 1px 1px 5px;
}

.landlord-grade a {
  color: inherit;
}

.landlord-grade a:hover {
  color: blue;
}

.grade, .gpa,
.review-link {
  float: right;
}

.review-address {
  float: left;
  font-size: 90%;
  width: 100px;
  padding: 0px;
  margin-top: 10px;
  margin-right: 10px;
}

.review-content {
  padding: 0px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 25px;
}

.review-content blockquote {
  padding: 0px;
  margin: 0px;
}

.review-content blockquote p {
  padding-bottom: 10px;
}

.reviewed-by-link {
  font-size: 90%;
  padding-top: 0px;
  padding-bottom: 15px;
}

.reviewed-by-grade {
  font-size: 110%;
  padding-top: 25px;
}

/* }}} */

/* new review {{{ */
table.review-form {
  margin: 20px auto;
}

tr#ip { display: none; }

tr#address textarea {
  width:  155px;
  height: 75px;
}

tr#review textarea {
  width:  450px;
  height: 300px;
}

td#grade {
  text-align: right;
}
/* }}} */

/* search/review inputs {{{ */
form.search, form.new {
  margin-left:  auto;
  margin-right: auto;
}

form.search p, form.new p {
  text-align: center;
}

form.search input[type="submit"],
form.new    input[type="submit"] { 
  margin:  2px;
  padding: 2px;
  width:   60px;
}
/* }}} */

/* login  {{{ */
#login table {
  margin: 5px auto;
}

#login td {
  margin:  0px;
  padding: 0px;

  vertical-align: middle;
  text-align: center;
}

#login .services td {
  height: 50;
  width:  20%;
}

#login .open-id h3 {
  text-align: center;
}
/* }}} */

/* profile page {{{ */
.profile {
  padding: 25px;
  background-color: #dedbd1;
}

.profile th {
  font-weight: bold;
  padding:     2px 5px;
}

.profile .gravatar {
  float: left;
}

.profile .gravatar img {
  height:       48px;
  width:        48px;
  margin:       0px
  margin-top:   2px;
  margin-right: 10px;
  padding:      1px;
  border:       solid 1px #999;
}

td.buttons {
  padding-right: 0px;
  text-align:    right;
}

p.edit-button, p.delete-button {
  text-align:     right;
  margin:         0px;
  margin-top:     25px;
  padding:        2px;
  text-transform: uppercase;
}
/* }}} */

/* comments {{{ */
.yesod_comment_avatar_input img,
.yesod_comment_avatar_list  img {
  margin-top:  5px;
  margin-left: 10px;
  padding: 1px;
  border: solid 1px #999;
}

.yesod_comment_avatar_input img {
  height: 48px;
  width:  48px;
}

.discussion { 
  padding:          10px;
  margin:           10px;
  margin-left:      20px;
  background-color: #dedbd1;
  border:           dotted 1px #999;
}

.discussion h4 { 
  margin-left: -5px;
  font-size:   98%;
}

.discussion p.helptext { display: none; }

.discussion blockquote { 
  background-color: white;
  border-left:      solid 3px #999;
}
/* }}} */

/* markdown help {{{ */
#markdown-help {
  display:          none; /* toggled via jquery */
  position:         fixed;
  top:              25%;
  left:             15%;
  height:           30%;
  width:            70%;
  z-index:          10;
  padding:          20px;
  font-size:        90%;
  text-align:       left;
  background-color: white;
  border:           solid 1px #dedbd1;
  overflow-y:       auto;

  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
          border-radius: 4px; 

  -webkit-box-shadow: 3px 3px 40px #333;
     -moz-box-shadow: 3px 3px 40px #333;
          box-shadow: 3px 3px 40px #333;
}

#markdown-help p.example { margin-left: 10px; }
/* }}} */
