/*
 * 2011 pbrisbin standard styles
 *
 */

/* begin html5boilerplate stuffs {{{ */
 
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

/* *font-size doesn't validate? */
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

textarea { overflow: auto; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="button"], input[type="submit"], input[type="reset"], button { cursor: pointer; padding: 2px 5px; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid {
  -webkit-border-radius: 1px; 
     -moz-border-radius: 1px; 
          border-radius: 1px; 
  -webkit-box-shadow: 0px 0px 3px red; 
     -moz-box-shadow: 0px 0px 3px red; 
          box-shadow: 0px 0px 3px red;
}
/* end html5boilerplate stuffs }}} */

/* site-wide font */
body, select, input, textarea {
  font-family: helvetica,"Georgia Sans",verdana,sans-serif;
}

p, h1, h2, h3, h4, h5, h6 { padding: 1ex 0px; }

strong { font-weight: bold; }
em     { font-style: italic; }

/* limit the width of all content save the footer */
section.content {
  width:  680px;
  margin: 0px auto;
}

.tabcontent ul, .tabcontent ol { margin: 10px 50px; }

blockquote {
  padding:     5px 10px;
  margin:      5px 25px;
}

.Positive blockquote { border-left: solid 4px #b0d87c; }
.Negative blockquote { border-left: solid 4px #fc4930; }

footer {
  background-color: #dedbd1;

  background-image: -moz-linear-gradient(top, #dedbd1, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dedbd1),color-stop(1, #ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#dedbd1, #ffffff); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #dedbd1, #ffffff);

  border-top:     solid 1px #cecbc1;
  text-align:     center;
  line-height:    75%;

  padding-top:    0.25em;
  padding-bottom: 5em;
}

small { font-size: 85%; }

h1 { font-size: 2em;    }
h2 { font-size: 1.5em;  }
h3, h4, h5, h6 { font-size: 1.25em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; text-shadow: #cecbc1 1px 1px 5px; }

h1 { 
  padding-top: 50px;
}

a:link, a:hover, a:visited { text-decoration: none; }

::-moz-selection {
  color:       white;
  background:  black;
  text-shadow: none;
}

::selection {
  color:       white;
  background:  black;
  text-shadow: none;
}

p#legal {
  font-size: 85%;
  padding:   0px;
  margin:    0px;
  position:  absolute;
  top:       5px;
  right:     10px;
}

p#breadcrumbs {
  font-size: 85%;
  padding:   0px;
  margin:    0px;
  position:  absolute;
  top:       5px;
  left:     10px;
}

.tabnav a {
  color: #222;
  text-decoration: none;
}

.tabnav a:hover {
  color: #009;
  text-decoration: none;
}

.tabnav li {
  display:    inline;
  list-style: none;
  padding-right: 5px;
}

.tabnav li a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  padding: 0px 20px;
  padding-top: 5px;

  border: 1px solid #cecbc1;
  border-bottom: none;
}

/* highlight selected tabs */
.tabnav li.ui-tabs-selected a { background-color: #dedbd1; }

.tabnav li a:hover, .tabnav li a:active {
  color: #222;
  background: #cecbc1;
  border: 1px solid #cecbc1;
  border-bottom: none;
  text-decoration: none;
}

.tabdiv {
  border: 1px solid #cecbc1;
  border-bottom: none;
}

.tabdiv p {
  text-align: justify;
  font-size:  110%;
}

.tabcontent {
  padding:    10px 20px;
  min-height: 500px;
  overflow-y: auto;
}

.accordian h3 {
  cursor:  pointer;
  border:  none;
  outline: none;
}

th, td {
  padding: 2px 5px;
}

.tabcontent td#button {
  text-align: right;
}

.ui-tabs-hide {
  display: none;
}

.ui-autocomplete {
  width:      60px;
  background: white;
  border:     solid 1px #dedbd1;
}

.ui-autocomplete li {
  list-style: none;
  padding:    2px 5px;
}

.ui-autocomplete a:hover {
  color: blue;
  cursor: pointer;
}

table {
  margin: 5px;
  margin-left: 25px;
}

th {
  text-align:    left;
  font-weight:   bold;
  border-bottom: solid 1px;
}

form th {
  font-weight: normal;
  text-align: right;
  vertical-align: top;
  border: none;
}

form p { margin-left: 25px; }

tr#ip { display: none; }

tr#review textarea {
  width: 450px;
  height: 500px;

}

td.buttons { 
  text-align: right;
}

td.buttons input { margin: 2px; }

.review {
  margin-bottom: 10px;
  border: solid 1px #dedbd1;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;

  -webkit-box-shadow: #cecbc1 3px 3px 7px;
     -moz-box-shadow: #cecbc1 3px 3px 7px;
          box-shadow: #cecbc1 3px 3px 7px;
}

.review .property, .review .by, .review .content {
  padding: 2px 5px;
}

.review .property p, .by p { 
  font-size: 85%;
  font-style: italic;
}

.review .property {
  -webkit-border-top-left-radius:  8px;
  -webkit-border-top-right-radius: 8px;
     -moz-border-radius-topleft:   8px;
     -moz-border-radius-topright:  8px;
          border-top-left-radius:  8px;
          border-top-right-radius: 8px;
}

.Positive .property {
  background-color: #b0d87c;
  background-image: -moz-linear-gradient(top, #b0d87c, white); /* FF3.6 */
  background-image: -o-linear-gradient(top, #b0d87c, white); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #b0d87c),color-stop(1, white)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#b0d87c, white); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #b0d87c, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b0d87c', EndColorStr='white'); /* IE6–IE9 */
}

.Negative .property {
  background-color: #fc4930;
  background-image: -moz-linear-gradient(top, #fc4930, white); /* FF3.6 */
  background-image: -o-linear-gradient(top, #fc4930, white); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fc4930),color-stop(1, white)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#fc4930, white); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #fc4930, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fc4930', EndColorStr='white'); /* IE6–IE9 */
}

h3 .property { float: right; }

.note {
  font-size: 90%;
  font-style: italic;
  padding: 5px 25px;
}

/* override the 1px border added by chrome */
input[type="email"] { padding: 0px; }

/* thank you John Hicks! */

/* mobile layout */
@media all and (max-width: 800px) {
  /* site-dependant */

}

/* desktop layout */
@media all and (min-width: 801px) {
  /* site-dependant */

}

/* widescreen desktop layout */
@media all and (min-width: 1280px) {
  /* site-dependant */

}

/* print */
/*
@media print {
  body {
    color: #bbb;
    background-color: #ffffff;
  }
  h1, h2, h3, h4, h5, h6,
  pre, strong { color: #000000; }
  strong { font-weight: bold; }
}
*/
