/*
 * 2011 pbrisbin standard styles
 *
 */

/* begin html5boilerplate stuffs {{{ */
 
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

/* *font-size doesn't validate? */
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

textarea { overflow: auto; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="button"], input[type="submit"], input[type="reset"], button { cursor: pointer; padding: 2px 5px; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid {
  -webkit-border-radius: 1px; 
     -moz-border-radius: 1px; 
          border-radius: 1px; 
  -webkit-box-shadow: 0px 0px 5px red; 
     -moz-box-shadow: 0px 0px 5px red; 
          box-shadow: 0px 0px 5px red;
}
/* end html5boilerplate stuffs }}} */

/* site-wide font */
body, select, input, textarea {
  font-family: helvetica,clean,verdana,sans-serif;
}

section.content {
  width: 680px;
  margin: 0px auto;
}

p, h1, h2, h3, h4, h5, h6 { padding: 1ex 0px; }

footer {
  background-color: #f3f1eb;

  background-image: -moz-linear-gradient(top, #f3f1eb, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f3f1eb),color-stop(1, #ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#f3f1eb, #ffffff); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #f3f1eb, #ffffff);

  border-top:     solid 1px #dedbd1;
  text-align:     center;
  line-height:    75%;

  padding-top:    0.5em;
  padding-bottom: 10em;
}

small { font-size: 85%; }

h1 { font-size: 2em;}
h2 { font-size: 1.5em;  }
h3, h4, h5, h6 { font-size: 1.25em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; text-shadow: #dedbd1 1px 1px 5px; }

h1 { 
  padding-top:    50px;
  padding-bottom: 25px;
}

::-moz-selection {
  color:       white;
  background:  black;
  text-shadow: none;
}

::selection {
  color:       white;
  background:  black;
  text-shadow: none;
}

p#legal {
  font-size: 85%;
  padding:   0px;
  margin:    0px;
  position:  absolute;
  top:       5px;
  right:     10px;
}

.tabbed a {
  color: #222;
  text-decoration: none;
}

.tabbed a:hover {
  color: #009;
  text-decoration: none;
}

.tabnav li {
  display:    inline;
  list-style: none;

  padding-right: 5px;
}

.tabnav li a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  padding: 0px 20px;
  padding-top: 5px;

  border: 1px solid #dedbd1;
  border-bottom: none;
}

/* highlight selected tabs */
.tabnav li.ui-tabs-selected a { background-color: #f3f1eb; }

.tabnav li a:hover, .tabnav li a:active {
  color: #222;
  background: #f3f1eb;
  border: 1px solid #dedbd1;
  border-bottom: none;
  text-decoration: none;
}

.tabdiv {
  border: 1px solid #dedbd1;
  border-bottom: none;
}

.tabdiv p {
  text-align: justify;
  font-size:  110%;
}

.tabcontent {
  padding:    10px 20px;
  min-height: 500px;
  overflow-y: auto;
}

.tabcontent h3 {
  cursor:  pointer;
  border:  none;
  outline: none;
}

.tabcontent th, .tabcontent td {
  padding: 2px 5px;
}

.tabcontent td#button {
  text-align: right;
}

.ui-tabs-hide {
  display: none;
}

.ui-autocomplete {
  width:      60px;
  background: white;
  border:     solid 1px #f3f1eb;
}

.ui-autocomplete li {
  list-style: none;
  padding:    2px 5px;
}

.ui-autocomplete a:hover {
  color: blue;
}

table {
  margin: 5px;
  margin-left: 25px;
}

th {
  text-align: right;
  vertical-align: top;
}

tr#buttons td { text-align: right; }

/* override the 1px border added by chrome */
input[type="email"] { padding: 0px; }

/* thank you John Hicks! */

/* mobile layout */
@media all and (max-width: 800px) {
  /* site-dependant */

}

/* desktop layout */
@media all and (min-width: 801px) {
  /* site-dependant */

}

/* widescreen desktop layout */
@media all and (min-width: 1280px) {
  /* site-dependant */

}

/* print */
/*
@media print {
  body {
    color: #bbb;
    background-color: #ffffff;
  }
  h1, h2, h3, h4, h5, h6,
  pre, strong { color: #000000; }
  strong { font-weight: bold; }
}
*/
