footer {
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid #eee;
    text-align: center;
}
.container {
    padding-top: 10px;
    width: 790px;
}
.navbar .gravatar {
    padding-right: 7px;
    height: 20px;
    width: 20px;
    vertical-align: top;
}
blockquote p {
    line-height: inherit;
    margin-bottom: inherit;
}
#search {
    text-align: center;
    margin-top: 20px
;
}
.profile .gravatar {
    float: left;
    padding-right: 20px;
    height: 128px;
    width: 128px;
}
textarea.review-entry {
    width: 500px;
    height: 300px;
}
#address {
    margin-top: 15px;
    margin-bottom: 15px;
}
#review {
    margin-top: 30px;
    margin-bottom: 30px;
}
#landlord #grade[data-grade="A+"] {
    color: green;
}
#landlord #grade[data-grade="A"] {
    color: green;
}
#landlord #grade[data-grade="A-"] {
    color: green;
}
#landlord #grade[data-grade="B+"] {
    color: green;
}
#landlord #grade[data-grade="B"] {
    color: blue;
}
#landlord #grade[data-grade="B-"] {
    color: blue;
}
#landlord #grade[data-grade="C+"] {
    color: blue;
}
#landlord #grade[data-grade="C"] {
    color: black;
}
#landlord #grade[data-grade="C-"] {
    color: black;
}
#landlord #grade[data-grade="D+"] {
    color: black;
}
#landlord #grade[data-grade="D"] {
    color: black;
}
#landlord #grade[data-grade="D-"] {
    color: red;
}
#landlord #grade[data-grade="F"] {
    color: red;
}
.yesod_comments {
    width: 60%;
    margin: 20px;
    margin-top: 10px;
}
.yesod_comments .avatar {
    float: left;
    height: 48px;
    width: 48px;
    padding: 5px;
}
.yesod_comments .attribution .avatar {
    float: none;
    padding: 0;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.yesod_comments .comment,.yesod_comments > .input {
    padding: 5px 10px;
    margin: 10px 0;
    border: solid 1px #ccc;
}
.yesod_comments > .input {
    padding-left: 65px;
}
.yesod_comments > .input textarea {
    height: 80px;
    width: 85%;
}
.yesod_comments .thread {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}
.yesod_comments blockquote p {
    font-size: inherit;
}
.ui-autocomplete {
    width: 60px;
    border: solid 1px #ccc;
    background-color: white;
}
.ui-autocomplete li {
    list-style: none;
    padding-left: 2px;
}
.ui-autocomplete a {
    color: gray;
    text-decoration: none;
}
.ui-autocomplete li:hover a {
    color: black;
}
.ui-autocomplete li:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}
